<div class="admin-header">
    <ul>
        <li><a href="/admin/artists">VIEW ARTISTS</a></li>
        <li><a href="/admin/artists/new">ADD ARTIST</a></li>
        <li><a href="/admin/releases">VIEW RELEASES</a></li>
        <li><a href="/admin/releases/new">ADD RELEASE</a></li>
        <li><a href="/admin/blog">VIEW BLOG</a></li>
        <li><a href="/admin/blog/new">ADD BLOG POST</a></li>
    </ul>
</div>