<header>
    <nav>
        <a href="/"><h1>LOW END RECORDS</h1></a>
        <ul>
            <li><a href="">ARTISTS</a></li>
            <li><a href="">RELEASES</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="/admin">ADMIN</a></li>
        </ul>
    </nav>
</header>